@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="footer-section">
    <div class="container relative">
        <div class="sofa-img">
            <img src="~/furni-1.0.0/images/footer-img.png" alt="Hình ảnh" class="img-fluid" />
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center">
                        <span class="me-1">
                            <img src="~/furni-1.0.0/images/envelope-outline.svg"
                                 alt="Hình ảnh"
                                 class="img-fluid" />
                        </span>
                        <span>Liên hệ với chúng tôi</span>
                    </h3>

                    <form action="#" class="row g-3">
                        <div class="col-auto">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Nhập tên của bạn" />
                        </div>
                        <div class="col-auto">
                            <input type="email"
                                   class="form-control"
                                   placeholder="Nhập email của bạn" />
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary">
                                <span class="fa fa-paper-plane"></span> Gửi
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap">
                    <a href="#" class="footer-logo">ComputerShop<span>.</span></a>
                </div>
                <p class="mb-4">
                    Chúng tôi cung cấp các sản phẩm máy tính chất lượng cao và dịch vụ tận tâm. Hãy liên hệ để được tư vấn và hỗ trợ tốt nhất.
                </p>

                <ul class="list-unstyled custom-social">
                    <li>
                        <a href="#"><span class="fa fa-brands fa-facebook-f"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-brands fa-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-brands fa-instagram"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-brands fa-linkedin"></span></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Dịch vụ</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Hỗ trợ</a></li>
                            <li><a href="#">Cơ sở kiến thức</a></li>
                            <li><a href="#">Chat trực tiếp</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Tuyển dụng</a></li>
                            <li><a href="#">Đội ngũ của chúng tôi</a></li>
                            <li><a href="#">Lãnh đạo</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Ghế Nordic</a></li>
                            <li><a href="#">Ghế Kruzo Aero</a></li>
                            <li><a href="#">Ghế Ergonomic</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">
                        Bản quyền &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        . Tất cả các quyền được bảo lưu. &mdash; Thiết kế bởi
                        <a href="https://untree.co">Untree.co</a>, phân phối bởi
                        <a href="https://themewagon.com">ThemeWagon</a>
                    </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#">Điều khoản & Điều kiện</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>