@using Microsoft.AspNetCore.Http
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
     arial-label="Furni navigation bar">
    <div class="container">
        <a class="navbar-brand" href="/">ComputerShop<span>.</span></a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <partial name="_NavbarPartial"/>
            @await Component.InvokeAsync("Avatar")
        </div>
    </div>
</nav>
