@{
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="card">


    <div class="card-body">


        <!-- /Logo -->
        <h4 class="mb-2">Hãy nhập Email của tài khoản của bạn để thực hiện lấy lại mật khẩu </h4>


        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">@TempData["success"]</div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger">@TempData["error"]</div>
        }

        <form id="formAuthentication" class="mb-3" asp-controller="Account" asp-action="ForgotPassword" method="POST">
            @Html.AntiForgeryToken()
            <div class="mb-3">


                <label class="form-label">Email</label>
                <input type="email"
                       class="form-control"
                       name="Email"
                       placeholder="Nhập email của bạn"
                       autofocus />
            </div>

            <div class="mb-3">
                <button class="btn btn-primary d-grid w-100">Gửi yêu cầu lấy lại mật khẩu</button>
            </div>

        </form>
    </div>
</div>

