@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@using WebBanMayTinh.Models.Views
@model UserLoginVM

<div class="card">
    <div class="card-body">
        <!-- /Logo -->
        <h4 class="mb-2">Chào mừng tới ComputerShop</h4>
        <p class="mb-4">Vui lòng đăng nhập tài khoản của bạn để bắt đầu khám phá</p>

        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">@TempData["success"]</div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger">@TempData["error"]</div>
        }

        <form id="formAuthentication" class="mb-3" asp-controller="Account" asp-action="Login" method="POST">
            @Html.AntiForgeryToken()
            <div class="mb-3">


                <label asp-for="Username" class="form-label">Tài khoản</label>
                <input type="text"
                       class="form-control"
                       asp-for="Username"
                       placeholder="Nhập tài khoản hoặc email của bạn"
                       autofocus />
            </div>

            <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                    <label asp-for="Password" class="form-label">
                        Mật khẩu
                    </label>
                    <a asp-controller="Account" asp-action="ForgotPassword">
                        <small>Quên mật khẩu?</small>
                    </a>
                </div>
                <div class="input-group input-group-merge">
                    <input type="password"
                           class="form-control"
                           asp-for="Password"
                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                           aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember-me" />
                    <label class="form-check-label" for="remember-me"> Nhớ mật khẩu </label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-grid w-100">Đăng nhập</button>
                <a asp-action="LoginByGoogle" class="mt-2 btn btn-danger d-grid w-100">Đăng nhập bằng google</a>
            </div>
        </form>

        <p class="text-center">
            <span>Nếu bạn là khách hàng mới?</span>
            <a asp-controller="Account" asp-action="Create">
                <span>Tạo tài khoản ngay</span>
            </a>
        </p>
    </div>
</div>
