@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@model ResetPasswordVM

<div class="card">
    <div class="card-body">
        <!-- /Logo -->
        <h4 class="mb-2">Reset mật khẩu </h4>
        <p>Hãy đặt mật khẩu mới của bạn</p>

        <form id="formAuthentication" class="mb-3" asp-controller="Account" asp-action="ResetPassword" method="POST">
            @Html.AntiForgeryToken()

            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />


            <div class="mb-3">
                <label class="form-label">Mật khẩu mới</label>
                <input type="password"
                       class="form-control"
                       asp-for="Password" 
                       placeholder="Nhập mật khẩu mới của bạn"
                       autofocus />
            </div>

            <div class="mb-3">
                <label class="form-label">Nhập lại mật khẩu mới</label>
                <input type="password"
                       class="form-control"
                       asp-for="ComfirmPassword"
                       placeholder="Nhập lại mật khẩu mới của bạn"
                       />
            </div>

            <div class="mb-3">
                <button class="btn btn-primary d-grid w-100">Gửi yêu cầu lấy lại mật khẩu</button>
            </div>

        </form>
    </div>
</div>

