@using WebBanMayTinh.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Bảng điều khiển";
}

<h1 class="text-center">Chưa phát triển</h1>

<div class="text-center">
    <img class="text-center mt-4" src="https://th.bing.com/th/id/OIP.qsjlwSecYQ95NEgFRyk3mgHaEK?w=394&h=187&c=7&r=0&o=7&dpr=2&pid=1.7&rm=3" />
</div>