@*
	
*@
@{
    ViewData["Title"] = "Danh sách tài khoản";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý tài khoản /</span> Tạo tài khoản</h4>

<div class="col-xl">
    <div class="card mb-4">
        <div class="card-body">
            <form asp-action="Create">
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-fullname">Tên tài khoản</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text">
                            <i class="bx bx-user"></i>
                        </span>
                        <input type="text"
                               name="Username"
                               class="form-control"
                               id="basic-icon-default-fullname"
                               placeholder="nguyenvana"
                               aria-label="nguyenvana"
                               aria-describedby="basic-icon-default-fullname2" />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="first_name">Họ</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text">
                            <i class='bx  bx-receipt'></i>
                        </span>
                        <input type="text"
                               name="FirstName"
                               class="form-control"
                               id="first_name"
                               placeholder="Nguyễn"
                               aria-label="nguyenvana"
                               aria-describedby="basic-icon-default-fullname2" />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="last_name">Tên</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-fullname2" class="input-group-text">
                            <i class='bx  bx-receipt'></i>
                        </span>
                        <input type="text"
                               name="LastName"
                               class="form-control"
                               id="last_name"
                               placeholder="A"
                               aria-label="nguyenvana"
                               aria-describedby="basic-icon-default-fullname2" />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-email">Email</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                        <input type="text"
                               name="Email"
                               id="basic-icon-default-email"
                               class="form-control"
                               placeholder="a.nguyen.van"
                               aria-label="a.nguyen.van"
                               aria-describedby="basic-icon-default-email2" />
                        <span id="basic-icon-default-email2" class="input-group-text">example.com</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-phone">Số điện thoại</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-phone2" class="input-group-text">
                            <i class="bx bx-phone"></i>
                        </span>
                        <input type="text"
                               name="Phone"
                               id="basic-icon-default-phone"
                               class="form-control phone-mask"
                               placeholder="658 799 8941"
                               aria-label="658 799 8941"
                               aria-describedby="basic-icon-default-phone2" />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-message">Địa chỉ</label>
                    <div class="input-group input-group-merge">
                        <span id="basic-icon-default-message2" class="input-group-text">
                            <i class='bx  bx-location-plus'></i>
                        </span>
                        <input id="basic-icon-default-message"
                               name="Address"
                               class="form-control"
                               placeholder="Hai Bà Trưng - Hà Nội"
                               aria-label="Hai Bà Trưng - Hà Nội"
                               aria-describedby="basic-icon-default-message2" />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="basic-icon-default-role">Vai trò</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="bx bx-user-voice"></i></span>
                        <select name="RoleId" class="form-select " asp-items="ViewBag.RoleId"></select>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                </div>
            </form>
        </div>
    </div>
</div>